*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteiner h2{
    color: white;
    text-align: center;
}

.centro{
    background-image: url(../img/bg.jpg);
    width: 500px;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

