*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 245, 216);
}
h1{
    font-size: 2em;
}
.conteiner{
    border: 1px solid grey;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo{
    border: 1px solid grey;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#res img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}